{% extends 'base.html' %}

{% block content %}

<style type="text/css">
	.container{
		margin-top: 100px;
	}
</style>
<div class='container'>
	<form method="post">
		<h4 style="color:#26a69a">Change Password</h4>
		<div>
		{% if text %}
		{{text}}
		{% endif %}
		{% if a %}
		{{a}}
		{% endif %}
		</div>
		{% csrf_token %}
		<label>current password</label>
		<input type="password" name="crp" ><br>
		<label>Set password</label>
		<input type="password" name="pas"><br>
		<label>Confirm password</label>
		<input type="password" name="cpass"><br>
		<input type="submit" class="btn" name="submit" placeholder="change">
		<button class="btn" ><a href="/" style="color:white">back to home</a></button>
		
	</form>
</div>

{% endblock %}