{% extends 'base.html' %}
{% block content %}
<style type="text/css">
  .noproject-wrapper{
    margin-top: 150px;
    margin-bottom: 30px;
    padding: 80px 0px;
    border:none;
  }
  .d-flex li{
    width: 200px;
    height: 45px;
  }
  .d-flex li:hover{
      background-color:  #76d7da;
      border:1px solid white;
  }
  .nav{
    background: linear-gradient(to right, #90e4e0, #bb519f);
    background-size: cover;
  }
  .logo a{
    padding:20px;
  }
  .noproject-wrapper{
    margin-top: 200px;
    padding: 50px 0px;
    border: 3px solid gray;
    border-style: dashed;
    border-color: #26a69a;
  }
  .profile{
     width:180;
  }
  .profile ul li a{
    color: ##26a69a;
    font-size: 20px;
    background-color:  #76d7da;
    border:1px solid white;
    height: 50px;
    display: block;
  }
    
  .profile ul{
    display: none;
    position: relative;
  }
  .profile:hover >ul{
    display: block;
  }

  .profile:hover{
      background-color:  #76d7da;
      width:200px;
      border:1px solid white;
      height: 45px;
      line-height: 50px;
      text-align: center;
      float: left;
      color:white;
      font-size: 18px;
  }
  .nav a{
    color:white;
  }
  
</style>
<div class="nav">
<div class="logo">
  <a href="/">Monthly Expenses</a>    
</div>
<ul class="d-flex flex-row align-items-start justify-content-start">
  <li  class="active"><a href="/">Home</a></li>
  {% if user.is_authenticated %}
  <li class="profile"><a href="#"><i class="small material-icons">people</i></a>
    <ul>
    <li><a href="#">{{user.username}}</a></li>
    <li><a  href="account/edit_profile">Edit Profile</a></li>
    <li><a  href="account/change_password">Reset Password</a></li>
  </ul>

  </li>
  <li><a href="account/logout">Logout</a></li>
  {% else %}
  <li><a href="account/login">Login</a></li>
  <li><a href="account/signup">Signup</a></li>
  {% endif %}
    </ul>
  </div>
<div class="container">
	<div class="noproject-wrapper center">
		<h3 class="grey-text">Log in and use!</h3>

		<a href="{% url 'mylist' %}" class="btn-large grey">
			<i class="material-icons white-text left">flight_takeoff</i>
			<span class="bold" >Your List View</span>
		</a>
		<p style="padding:10px;">Month is unique one so just one time add
		.again cannot add</p>
	</div>
</div> 

<!-- Site footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">monthly expenses.com <i>in this website is used to calculating to monthly expenses
            and this app very easy to operate. simply calculating you amounts.</p>
          </div>


          <div class="col-xs-6 col-md-3">
            <h6>Contact</h6>
            <ul class="footer-links">
              <li>chennai,tamilnadu</li>
               <li>expansesadm@gmail.com</li>
            </ul>
            <h6>Feedback</h6>
            <ul>
              <li>expansesadm@gmail.com</li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
         <a href="#">monthly expenses.com</a>.
            </p>
          </div>
      </div>
</footer>
{% endblock %}