altgraph==0.17
asgiref==3.2.10
auto-py-to-exe==2.7.8
beautifulsoup4==4.9.3
bottle==0.12.18
bottle-websocket==0.2.9
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
colorama==0.4.3
comtypes==1.1.7
configparser==5.0.0
crayons==0.3.1
decorator==4.4.2
dj-database-url==0.5.0
Django==3.0.7
django-crispy-forms==1.9.2
django-filter==2.3.0
django-heroku==0.3.1
django-widget-tweaks==1.4.8
Eel==0.12.4
future==0.18.2
gevent==20.9.0
gevent-websocket==0.10.1
greenlet==0.4.17
gunicorn==20.0.4
h11==0.9.0
hstspreload==2020.10.20
html5lib==1.1
idna==2.10
jsonpath==0.82
jsonpath-ng==1.5.2
lxml==4.6.1
numpy==1.18.4
pafy==0.5.5
pandas==1.0.5
pefile==2019.4.18
Pillow==7.2.0
ply==3.11
psycopg2==2.8.5
PyAudio==0.2.11
pycparser==2.20
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.9
PyPDF2==1.26.0
pypiwin32==223
pypng==0.0.20
PyQRCode==1.2.1
python-dateutil==2.8.1
python-decouple==3.3
pyttsx==1.1
pyttsx3==2.90
pytube3==9.6.4
pytz==2020.1

pywin32-ctypes==0.2.0
requests==2.24.0
selenium==3.141.0
six==1.15.0
soupsieve==2.0.1
SpeechRecognition==3.8.1
sqlparse==0.3.1
tqdm==4.53.0
typing-extensions==3.7.4.3
urllib3==1.25.9
webdriver-manager==3.2.1
webencodings==0.5.1
whichcraft==0.6.1
whitenoise==5.2.0
xlrd==1.2.0
xlwt==1.3.0
youtube-dl==2020.9.20
zope.event==4.5.0
zope.interface==5.1.2
