@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html{
	font-family: 'Montserrat';
	background-color:#E0E0E0;
}
.container{
	margin: 0px;
	padding: 0px;
	margin-left: 100px;
}
.logo{
	margin:0px;
	padding: 0px;
	font-weight: bold;
	font-size:30px;
	margin-top: 50px;
	margin-left: 50px; 
}
.d-flex{
	padding: 0px;
	margin-left:30px;

}
.d-flex li{
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: left;
    color: white;
    font-size: 18px;
}
.noproject-wrapper{
	margin-top:130px;
	text-align: center;
	color:#26a69a;
}
.noproject-wrapper .btn{
	margin-top: 20px;
}

.form{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}
.in{
	width: 500px;
	height: 300px;
	background-color: white;
	border-radius: 4px;
	padding: 30px;
}

.btn-small{
	margin-top: 40px;
	justify-content: center;
	align-items: center;
}
.in h6{
	font-weight: bold;
	font-size:20px;
	color:#26a69a;
	text-align: center;
	margin-bottom: 5px;
}
.close{
	margin-left: 420px;
	position: absolute;
	top: 190px;
	font-size: 42px;
	transform: rotate(45deg);
	cursor: pointer;
}

/* list.html*/
.noproject-wrapper .list li{
	font-size: 20px;
	text-transform: uppercase;


}
.noproject-wrapper .h4{
	margin-top: 0px;
	color:#26a69a;
}



